EMAIL=your@email.com
DOMAINS="-d example.com -d www.example.com"
DATA_ROOT=${HOME}/homelab-data
HOMELAB_ROOT=${HOME}/homelab
CONFIG_ROOT=${HOMELAB_ROOT}/config
MEDIA_ROOT=/path/to/Media
MUSIC_ROOT=/path/to/Music
TS_AUTHKEY=your-tailscale-auth-key