# secrets
*.env
*.env.common
*.key
*.pem
*.secret
*.secrets
credentials*

# databases / state
*.sqlite
*.db

# logs
logs/
**/logs/

# runtime outputs
audiobook_output/
**/output/
**/outputs/
**/tmp/

# service-specific sensitive configs
config/**/tsdproxy.yaml
config/**/tsdproxy.yml

# audiobookshelf state
config/audiobookshelf/*