defaultProxyProvider: default
docker:
  local:
    host: unix:///var/run/docker.sock
    # targetHostname: 172.18.0.1
files: {}
tailscale:
  providers:
    default:
      authKey: ${TAILSCALE_AUTH_KEY}
      controlUrl: https://controlplane.tailscale.com
  datadir: /data/
http:
  hostname: 0.0.0.0
  port: 8090
log:
  level: info
  json: false
proxyAccessLog: true
